<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" />
  </configSections>
  <appSettings>
    <add key="fromEmail" value="info@sysfore.com" />
    <add key="fromPwd" value="Sys4@!82O#Z!" />
    <add key="toEmail" value="info@sysfore.com" />
    <!--<add key="toEmailBcc" value="ajith.george@sysfore.com,bobby.varghese@sysfore.com,vanshdeep.sethi@techmantu.com" />-->
    <add key="toEmailBcc" value="ajith.george@sysfore.com,bobby.varghese@sysfore.com,rajan@techmantu.com " />
    <add key="smtpHost" value="smtp.office365.com" />
    <add key="smtpPort" value="587" />
    <add key="useSslToSendEmail" value="true" />
    <add key="SubjForThnksContact" value="Thank You for contacting Sysfore Technologies" />
    <add key="SubjForEbookDownload" value="ebook on" />
    <add key="SubjForCaseStudyDownload" value="Case Study on" />
    <add key="reCaptchaPvtKey" value="6LfxaNwSAAAAAJgc908CEzqpaK2E83CqG7-yPrVe" />
    <add key="reCaptchaSecretKey" value="6Lex9EMUAAAAALT8zF61g8DFghiX1qXokvRRXN0o" />
    <add key="reCaptchaSiteKey" value="6Lex9EMUAAAAAHjKbNqT07tU5UZyiC20PVDcW3FN" />
    <add key="com.sysfore.crm.soap" value="http://crm.sysfore.com/soap.php" />
    <add key="CRMUserName" value="admin" />
    <add key="CRMPwd" value="sys4admin$" />
    <add key="D365Url" value="https://sysfore.api.crm8.dynamics.com/XRMServices/2011/Organization.svc" />
  </appSettings>
  <connectionStrings>
    <!--<add name="SysCon" connectionString="server=localhost;database=Sysfore WebSite;uid=sa;pwd=admin123;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="SysCon" connectionString="server=66.98.208.234;database=sss;uid=sss;pwd=admin123;" providerName="System.Data.SqlClient"/>-->
    <add name="SysCon" connectionString="server=127.0.0.1;database=sss;uid=sss;pwd=admin123;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <SubSonicService defaultProvider="SysCon">
    <providers>
      <add name="SysCon" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="SysCon" generatedNamespace="SysDAL" includeTableList="OBRegistration" />
    </providers>
  </SubSonicService>
  <system.web>
    <!-- <customErrors mode="Off"/> -->

    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
 -->


    <customErrors mode="On" defaultRedirect="/404.aspx" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="/404.aspx" />
    </customErrors>

    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.webServer>

    <rewrite>
      <rules>
        <!--<rule name="CanonicalHostNameRule1" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.sysfore\.com$" negate="true" />
          </conditions>
          <action type="Redirect" url="http://www.sysfore.com/{R:1}" redirectType="Permanent" />
        </rule>-->
        <rule name="OB HR and Payroll" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="openbravo-erp-india/openbravo-hr-and-payroll-module.aspx" />
          <action type="Redirect" url="openbravo-hr-and-payroll-module.aspx" />
        </rule>
        <rule name="OB ERP India" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="openbravo-erp-india/openbravo-erp-india.aspx" />
          <action type="Redirect" url="openbravo-erp-implementation.aspx" />
        </rule>
        <rule name="Azure Cloud" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="windows-azure/azure-cloud-computing.aspx" />
          <action type="Redirect" url="cloud-services.aspx" />
        </rule>
        <rule name="Web App Development" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="offshore-services/web-application-development.aspx" />
          <action type="Redirect" url="responsive-web-apps.aspx" />
        </rule>
        <rule name="Azure circle" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="windows-azure/azure-circle-partner.aspx" />
          <action type="Redirect" url="cloud-services.aspx" />
        </rule>
        <rule name="Contact" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="company/contact.aspx" />
          <action type="Redirect" url="contact-us.aspx" />
        </rule>
        <rule name="Outsourced App" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="offshore-services/outsourced-application-maintenance-and-renewal.aspx" />
          <action type="Redirect" url="about-us.aspx" />
        </rule>
        <rule name="Careers" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="about/careers.aspx" />
          <action type="Redirect" url="careers.aspx" />
        </rule>
        <rule name="News&amp;Events" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="about/news-and-events.aspx" />
          <action type="Redirect" url="news-and-events.aspx" />
        </rule>
        <rule name="Centers Of Excellence" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="approach/centers-of-excellence.aspx" />
          <action type="Redirect" url="openbravo-center-of-excellence.aspx" />
        </rule>
        <rule name="About Sysfore" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="about/about-sysfore.aspx" />
          <action type="Redirect" url="about-us.aspx" />
        </rule>
        <rule name="OB ERP Benefits" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="openbravo-erp-india/openbravo-erp-benefits.aspx" />
          <action type="Redirect" url="openbravo-erp-implementation.aspx" />
        </rule>
        <rule name="Google Android App" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="offshore-services/google-android-application-development.aspx" />
          <action type="Redirect" url="android-app-development.aspx" />
        </rule>
        <rule name="Customers" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="customers.aspx" />
          <action type="Redirect" url="index.aspx" />
        </rule>
        <rule name="Enterprise We App" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="offshore-services/enterprise-web-application-development.aspx" />
          <action type="Redirect" url="about-us.aspx" />
        </rule>
        <rule name="IT Outsourcing" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="offshore-services/IT-outsourcing.aspx" />
          <action type="Redirect" url="about-us.aspx" />
        </rule>
        <rule name="Customer Web App" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="offshore-services/consumer-web-application-development.aspx" />
          <action type="Redirect" url="about-us.aspx" />
        </rule>
        <rule name="Dot Net Solution" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="offshore-services/dot-net-solutions.aspx" />
          <action type="Redirect" url="about-us.aspx" />
        </rule>
        <rule name="Customer App Dev" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="offshore-services/custom-application-development.aspx" />
          <action type="Redirect" url="about-us.aspx" />
        </rule>
        <rule name="Mob App Development" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="offshore-services/mobile-application-development.aspx" />
          <action type="Redirect" url="mobile-apps-overview.aspx" />
        </rule>
        <rule name="Windows Mob App" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="offshore-services/windows-mobile-application-development.aspx" />
          <action type="Redirect" url="mobile-apps-overview.aspx" />
        </rule>
        <rule name="Azure Overview pdf" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="PDF/Windows_Azure_Platform_An_Overview.pdf" />
          <action type="Redirect" url="Assets/PDF/Windows_Azure_Platform_An_Overview.pdf" />
        </rule>
        <rule name="Azure Best Practices" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="PDF/Azure_Best_Practices.pdf" />
          <action type="Redirect" url="Assets/PDF/Azure_Best_Practices.pdf" />
        </rule>
        <rule name="Migrate Application To Cloud" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="PDF/Migrate_Your_Application_To_The_Cloud.pdf" />
          <action type="Redirect" url="Assets/PDF/Migrate_Your_Application_To_The_Cloud.pdf" />
        </rule>
        <rule name="Advantage of Moving an Application" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="PDF/Advantages_Of_Moving_An_Application_To_The_Azure_Cloud.pdf" />
          <action type="Redirect" url="Assets/PDF/Advantages_Of_Moving_An_Application_To_The_Azure_Cloud.pdf" />
        </rule>
        <rule name="Meritrac" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="PDF/MeritTrac_Azure.pdf" />
          <action type="Redirect" url="Assets/PDF/MeritTrac_Azure.pdf" />
        </rule>
        <rule name="OB on Demand" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="openbravo-erp-india/openbravo-on-demand.aspx" />
          <action type="Redirect" url="404.aspx" />
        </rule>
        <rule name="Retail forum" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="News/india-retail-forum-2012-announcement.aspx" />
          <action type="Redirect" url="404.aspx" />
        </rule>
        <rule name="Xml solutions" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="offshore-services/XML-Solutions.aspx" />
          <action type="Redirect" url="404.aspx" />
        </rule>
        <rule name="Java j2ee" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="offshore-services/Java-J2EE-Solutions.aspx" />
          <action type="Redirect" url="about-us.aspx" />
        </rule>
        <rule name="Azure Event Register" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="windows-azure-event-registration.aspx" />
          <action type="Redirect" url="404.aspx" />
        </rule>
        <rule name="Blackberry App" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="offshore-services/blackberry-application-development.aspx" />
          <action type="Redirect" url="404.aspx" />
        </rule>
        <rule name="Dev Approach" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="approach/development-approach.aspx" />
          <action type="Redirect" url="404.aspx" />
        </rule>
        <rule name="OB on Demand quote" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="openbravo-erp-india/openbravo-on-demand-quote.aspx" />
          <action type="Redirect" url="404.aspx" />
        </rule>
        <rule name="Project Approach" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="approach/project-approach.aspx" />
          <action type="Redirect" url="404.aspx" />
        </rule>
        <rule name="Azure Platform" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="windows-azure/azure-platform.aspx" />
          <action type="Redirect" url="cloud-services.aspx" />
        </rule>
        <rule name="Coimbatore event" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="coimbatore-azure-event-registration.aspx" />
          <action type="Redirect" url="404.aspx" />
        </rule>
        <rule name="Cloud readiness" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="windows-azure/cloud-readiness-assessment-registration.aspx" />
          <action type="Redirect" url="404.aspx" />
        </rule>
        <rule name="Bangalore azure event" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="bangalore-azure-event-registration.aspx" />
          <action type="Redirect" url="404.aspx" />
        </rule>
        <rule name="AzureForStartups" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="lp3-azure-for-startups.aspx" />
          <action type="Redirect" url="azure-websites.aspx" redirectType="Permanent" />
        </rule>
        <rule name="CloudServicesOffer" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="managed-cloud-services-offer.aspx" />
          <action type="Redirect" url="cloud-managed-services.aspx" redirectType="Permanent" />
        </rule>
        <rule name="CloudHostingOffer" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="Cloud_hosting_Offer.aspx" />
          <action type="Redirect" url="sysfore-cloud-services.aspx" redirectType="Permanent" />
        </rule>
        <rule name="CloudManagedServicesCampaignVersion1" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="cloud-managed-services-campaign-version1.aspx" />
          <action type="Redirect" url="cloud-managed-services.aspx" redirectType="Permanent" />
        </rule>
        <rule name="DisasterRecoveryBackupsCloudStorage" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="disaster-recovery-backups-cloud-storage.aspx" />
          <action type="Redirect" url="disaster-recovery-service-on-cloud.aspx" redirectType="Permanent" />
        </rule>
        <rule name="DisasterRecoverySolution" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="disaster-recovery-solution.aspx" />
          <action type="Redirect" url="disaster-recovery-service-on-cloud.aspx" redirectType="Permanent" />
        </rule>
        <rule name="DisasterRecoverySolutionCampaign" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="disaster-recovery-solution-campaign.aspx" />
          <action type="Redirect" url="disaster-recovery-service-on-cloud.aspx" redirectType="Permanent" />
        </rule>
        <rule name="EnterpriseMobilitySuite" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="enterprise-mobility-suite-campaign.aspx" />
          <action type="Redirect" url="enterprise-mobility-suite.aspx" redirectType="Permanent" />
        </rule>
        <rule name="SqlServer2005EndOfSupport" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="windows-sql-server-2005-end-of-support.aspx" />
          <action type="Redirect" url="promo/promo-landing-page.aspx" redirectType="Permanent" />
        </rule>
        <rule name="PhysicalServersAndDRStorage" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="physical-servers-and-DR-storage.aspx" />
          <action type="Redirect" url="disaster-recovery-service-on-cloud.aspx" redirectType="Permanent" />
        </rule>
        <rule name="EnterpriseMobilitySuiteEMSContactUs" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="enterprise-mobility-suite-EMS-contact-us.aspx" />
          <action type="Redirect" url="enterprise-mobility-suite.aspx" redirectType="Permanent" />
        </rule>
        <rule name="AzureActiveDirectory" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="azure-active-directory.aspx" />
          <action type="Redirect" url="identity-access-management.aspx" redirectType="Permanent" />
        </rule>
        <rule name="ReimagineProductivityMicrosoftDynamics365" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="reimagine-productivity-microsoft-dynamics365.aspx" />
          <action type="Redirect" url="dynamics-365-ebook.aspx" redirectType="Permanent" />
        </rule>
        <rule name="ErpAdvisoryServices" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="erp-advisory-services.aspx" />
          <action type="Redirect" url="erp-consulting-services.aspx" redirectType="Permanent" />
        </rule>
        <rule name="SysforeDynamics365Offerings" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="sysfore-dynamics365-offerings.aspx" />
          <action type="Redirect" url="sysfore-D365-offerings.aspx" redirectType="Permanent" />
        </rule>
        <rule name="CloudSolutionProviders" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="cloud-solution-providers.aspx" />
          <action type="Redirect" url="cloud-managed-services.aspx" redirectType="Permanent" />
        </rule>
        <!--<rule name="CloudSolutionProvider" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="cloud-solution-provider.aspx" />
          <action type="Redirect" url="cloud-solution-provider-sysforeease.aspx" redirectType="Permanent" />
        </rule>-->
       <!--<rule name="CloudManagedServices" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="cloud-managed-services.aspx" />
          <action type="Redirect" url="cloud-solution-providers.aspx" redirectType="Permanent" />
        </rule>-->
      </rules>
    </rewrite>

    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <!-- <httpErrors errorMode="Detailed"> -->
      <!-- <remove statusCode="404" /> -->
      <!-- <error statusCode="404" path="404.aspx" responseMode="ExecuteURL" /> -->
    <!-- </httpErrors> -->
 <httpErrors  errorMode="Custom" existingResponse="Replace">
      <clear/>
      <error statusCode="404" path="/404.aspx" responseMode="ExecuteURL"/>
    </httpErrors>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.aspx" />
                <add value="default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>


  </system.webServer>
</configuration>
